requests

numpy
#scipy
#matplotlib
pandas
#statsmodels

#Web Server
dash
dash_daq

#GPIO
pigpio #gpio fast
smbus #i2c
easydict
asyncpio @ git+https://github.com/neptunyalabs/asyncpio.git
imusensor @ git+https://github.com/niru-5/imusensor.git

#pi-plates
#RPi.GPIO



#boto3
aioboto3
#aiobotocore
#expiring-dict
expiringdict

