setuptools==58.2.0 #beyond this requires a new instlal strategy

requests

numpy
#scipy
#matplotlib
pandas
#statsmodels

#Web Server
dash
dash_daq

#GPIO
pigpio #gpio fast
smbus #i2c
easydict
RPi.GPIO
asyncpio @ git+https://github.com/neptunyalabs/asyncpio.git#egg=asyncpio
imusensor @  git+https://github.com/niru-5/imusensor.git#egg=imusensor
adafruit-circuitpython-si7021
adafruit-board-toolkit



#boto3
# aioboto3
# aiobotocore
aiobotocore[awscli,boto3]

expiringdict

